@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/deathnote.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Admin';
  src: url('/fonts/L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFont', sans-serif;
}


::selection {
  background-color: #38fdfd;
  color: #111;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #23f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00c2c2;
}